.wrapper {
  overflow: hidden;    
  /* min-width: 980px; */
}

.head {
  margin-bottom: 3px;
  border-radius: 4px;
  background: rgb(75, 75, 75);
  padding: 20px;
  color: #fff;
  /* width: 70% auto; */
}

.constructor {

  border-radius: 4px;
  text-align: center;
  width: 29%;
  float: left;
  background: rgb(67, 87, 114) 0.25;
  height: 350px;
}

.content {
  border-radius: 5px;
  border-color: black;
  width: 70%;
  float: right;
  /* background: rgb(82, 103, 255); */
  background: rgb(70, 88, 114) 0.5;
  height: 850px;
  overflow: scroll;
  text-align: center;
}
.input {
  background-color:rgb(189, 188, 188);
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h3{
  text-shadow: 0 0 20px black;
}
.h6 {
  text-shadow: 0 0 20px black;
  background-color:rgb(79, 79, 79);
  color:rgb(255, 255, 255);
  text-align-last: auto;
  text-align: center;
  /* margin: auto; */
  margin-bottom:5%;
  margin-top:5%;
  border-radius: 3px;
  border: 2px solid #666; /* Параметры рамки */
  padding: 10px; /* Поля вокруг текста */
  margin: 10px; /* Отступы вокруг */
  
}
.img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.text{
  text-indent: 100px;
}
.div-res{
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(82, 103, 255) 0.25;
  /* display: block; */
  margin: 0 auto;
  margin-top : 5%;
  margin-bottom: 10%;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
}
.car {
  margin-top: 3%;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
  box-shadow: inset 1px 1px 20px 1px grey;;
  overflow: hidden;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 5% auto;
    width: 200px auto;
    border-radius: 5px;
    cursor: pointer;
    /* display: inline-block; */
    background-color: #27c912;
    color: rgb(255, 255, 255);
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;

    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
    /* box-sizing: border-box; */
}
/*  */
  /* .btn:link, .btn:visited {
    background-color: #65f436;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} */
.btn:hover, .btn:active {
  
  color:rgb(87, 87, 87);
    background-color: rgb(72, 255, 0);
}
.like:hover, .like:active {
  color:rgb(89, 89, 89);
  background-color: rgb(255, 123, 0);
}
.like{
    margin: 0 auto;
    width: 22px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    background-color: #ffb700;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;
}